<div class="card">
  <div class="card-header">Add Course</div>
  <div class="card-body">
    <form #courseForm="ngForm" (ngSubmit)="onSubmit(courseForm)">
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          type="text"
          class="form-control"
          placeholder="Enter title"
          id="title"
          name="title"
          #title="ngModel"
          [(ngModel)]="model.title"
          required
        />
        <div *ngIf="title.invalid && title.touched" class="text-danger">
          Title is required
        </div>
      </div>

      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea
          class="form-control"
          rows="3"
          placeholder="Enter description"
          id="description"
          name="description"
          #description="ngModel"
          [(ngModel)]="model.description"
          required
        >
        </textarea>
        <div
          *ngIf="description.invalid && description.touched"
          class="text-danger"
        >
          Description is required
        </div>
      </div>

      <div class="mb-3">
        <label for="image">Choose an image</label>
        <input
          type="file"
          id="image"
          name="image"
          accept="image/*"
          (change)="onFileSelected($event)"
          required
        />
      </div>

      <div *ngIf="cover" class="imageDiv" align="right">
        <img [src]="cover" alt="Preview" width="100" />
      </div>

      <div *ngIf="showError" class="text-danger">Image is required</div>

      <div class="mb-3" align="center">
        <button type="submit" class="btn btn-primary">Save</button>
      </div>
    </form>
  </div>
</div>
<app-courses

  [isAdmin]="true"
 
></app-courses>


<!-- <app-courses
  [courses]="courses"
  [isAdmin]="true"
  (del)="deleteCourse($event)"
></app-courses> -->

<!-- Display Courses -->
<!-- <div class="row mt-3">
  @for(course of courses; track $index){
    <div class="col-lg-3 mb-4">
  <app-courses [course]="course" [isDelete]="true" (del)="deleteCourse($event)"></app-courses>
    </div>
  }@empty {
    <div align="center">
no Course added yet
   
  </div>
}
</div> -->
