<section class="about-us text-center mt-5">
    <div class="container">
      <h2>About Us</h2>
      <p class="lead">
        We are a dedicated team of professionals passionate about delivering
        high-quality education and training.<br>
         Our mission is to empower learners with the skills 
        they need to excel in the digital world.
      </p>
  
      <div class="row mt-5">
        <div class="col-md-4">
          <img
            src="/images/sir2.jpg"
            class="rectangle"
            alt="Team Member 1"
            width="150"
            height="150"
          />
          <h4>Ammad Naseem</h4>
          <p>Software Engineer</p>
        </div>
  
        <div class="col-md-4">
          <img
            src="/images/sirr.jpg"
            class="rectangle"
            alt="Team Member 2"
            width="150"
            height="150"
          />
          <h4>Anwar ul Islam</h4>
          <p>Traning Director</p>
        </div>
  
        <div class="col-md-4">
          <img
            src="/images/avater3.jpg"
            class="rectangle"
            alt="Team Member 3"
            width="150"
            height="150"
          />
          <h4>Areeba Khalid</h4>
          <p>Software Developer</p>
        </div>
      </div>
    </div>
  </section>
  