<section>
    <img src="images/banner.png">

    <div class="main-content">
        <h1 class="mt-2">Explore amazing content</h1>
        <a class="btn btn-lg btn-secondary mt-2">Courses</a> &nbsp;
        <a class="btn btn-lg btn-primary mt-2">Templates</a>
      </div>
</section>
<section class="courses">
    <div class="container">
        <h1 class="text-center">All Courses</h1>
     <div class="row mt-5">
        <!-- @for(course of courses; track $index){ -->
            <div class="course box">
            <app-courses ></app-courses>
            </div>
        
    </div> 
    </div>
     
     <app-about></app-about>
    
</section>
 
   
